ui-grid.models {
  height: 30em;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
}
ui-grid.models>ui-item {
  height: auto;
  position: relative;
  transition: transform ease-out 100ms;
  border-radius: 0;
  margin: 0;
  display: flex;
  padding: 0.2em;

}
ui-grid.models>ui-item h2 {
  font-size: .8em;
  margin: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  padding: .2em .4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ui-grid.models>ui-item h3 {
  font-size: .8em;
  margin: 0;
  display: none;
}
ui-grid.models>ui-item img {
  width: 100%;
  border-radius: 0;
  margin: 0 auto;
  display: block;
}
ui-grid.models>ui-item a {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
ui-grid.models>ui-item p {
  display: none;
  font-size: .8em;
  margin-top: 10px;
}
ui-grid.models>ui-item:hover p {
  position: absolute;
  display: none;
  width: 100%;
  background: rgba(0,0,0,.5);
}
ui-grid.models>ui-item:hover {
  background: rgba(254, 254, 254, 0.15);
  position: relative;
 
}

.ui-image-container{
    position: relative;
    
}


/*
#pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
ui-input {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: .5em;
}
*/

